.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}

.header .logo {
    flex: 1;
}

#hero {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 228, 228);
    margin: 19px;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.details {
    padding: 25px;
    width: 600px;
}

.img {
    padding-right: 20px;
}

#hero h2 {
    color: rgb(245, 26, 172);
    padding-top: 2px;
}

#hero .btn {
    background-color: rgb(253, 41, 182);
    width: 125px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: -7px;
}

a {
    text-decoration: none;
    color: white;
}

.categories {
    margin: 10px;
    padding: 10px;
}

#card {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    gap: 10px;
}

#card img {
    width: 75px;
    height: 70px;
    padding: 8px;
}

.card1 {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    background-color: orange;
    border-radius: 10px;
}

.card2 {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    background-color: rgb(250, 52, 177);
    border-radius: 10px;
}

.card3 {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    background-color: blue;
    border-radius: 10px;
}

#shoes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

#btn {
    border: none;
    background-color: black;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
}

.shoe-1 {
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
}

.shoe-2 {
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
}

.shoe-3 {
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
}

#backpack {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.bag-1 {
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

.bag-2 {
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
}

.bag-3 {
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
}

.newsletter {
    text-align: center;
    margin-top: 35px;
    height: 250px;
    padding: 20px;
    padding-top: 120px;
    background-color: rgb(248, 228, 228);

    p {
        font-size: 18px;
    }
}

.newsletter form input {
    padding: 10px;
    width: 280px;
    border: none;
    margin-left: 15px;
    border-radius: 3px;
}

form button {
    padding: 10px;
    width: 120px;
    margin-left: -4px;
    border: none;
    border-radius: 3px;
    background-color: rgb(250, 52, 177);
}

.newsletter h2 {
    margin-bottom: -12px;
}

/* mobile device*/
@media screen and (max-width: 640px) {
    #card {
        flex-direction: column;
        align-items: center;
    }
}

/* tablet device*/
@media (max-width: 992px) {
    #card {
        flex-direction: column;
        align-items: center;
    }

    #shoes {
        flex-direction: column;
        align-items: center;
    }

    #backpack {
        flex-direction: column;
        align-items: center;
    }
}

/* laptop device*/
@media screen and(max-width: 1200px) {}

@media screen and(min-width: 320px) {}